// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.navbar-nav .nav-link {
    padding: 0.5rem 0.75rem;
}

